.project
.idea/
.vscode/
.classpath
.settings/
**/.settings/
**/.secrets/
*.log
**/target/
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
local-run-logs/
runtime-logs/
service-pids.json
