DB_URL=jdbc:mysql://mysql-host:3306/hireconnect_application?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=app_user
DB_PASSWORD=change-me
SERVER_PORT=8086
EUREKA_SERVER_URL=http://eureka-service:8761/eureka/
AUTH_SERVICE_BASE_URL=http://auth-service:8081
PROFILE_SERVICE_BASE_URL=http://profile-service:8084
JOB_SERVICE_BASE_URL=http://job-service:8085
JWT_ISSUER=hireconnect-auth-service
JWT_SECRET=replace-with-shared-jwt-secret
